@use '../../../styles/variables.scss' as var;
@use '../../../styles/functions.scss' as func;

.btn {
  padding: 0.4em 0.8em;
  border: 1px solid var.$black;

  &:hover {
    background: var.$black;
    color: var.$light;
  }
}

@each $name, $color in var.$variants {
  .#{$name} {
    background: $color;
    color: func.set-text-color($color);
    border-color: none;

    &:hover {
      background: darken($color, 10%);
    }

    &.outlined {
      background: inherit;
      color: $color;
      border-width: 0.2em 0.4em;
      border-color: $color;
      font-weight: 1000;
    }
    &.outlined:hover {
      background: $color;
      color: func.set-text-color($color);
    }
  }
}

.xs {
  font-size: 0.875em;
}

.sm {
  font-size: 0.925em;
}

.lg {
  font-size: 1.1em;
  font-weight: 600;
}

.xl {
  font-size: 1.2em;
  font-weight: 600;
}

.rounded {
  border-radius: 1.5em;
}

.rounded:hover {
  box-shadow: 0 0 0 1px var.$black;
}

.fullwidth {
  width: 100%;
}

.bold {
  font-weight: 600;
}
