$radius: 0;
$border-color: hsla(0, 0%, 4%, 0.5);
$font-size: 0.875em;
$input-padding: 1rem;

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.form {
  width: 20rem;
}

.link {
  font-size: 0.925rem;
  margin: 1rem 0;
}
