$radius: 0;
$border-color: hsla(0, 0%, 4%, 0.5);
$font-size: 0.875em;
$input-padding: 1rem;

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.form {
  width: 20rem;
}

.link {
  font-size: 0.925rem;
  margin: 1rem 0;
}

.visibility-toggler {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9em;
  text-decoration: underline;
  cursor: pointer;
}
