.grid-container {
  display: grid;
  grid-template-columns: minmax(250px, 2fr) minmax(300px, 2fr) minmax(
      220px,
      1fr
    );
  column-gap: 2rem;
}

.title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
