.grid-container {
  display: grid;
  grid-template-columns: auto 1fr; 
  grid-template-rows: 100px auto auto;
  grid-template-areas: "hd hd"
                       "gl main"
                       "ft ft";
  gap: 1rem 2rem;
  font-size: 16px;
}

.header {
  grid-area: hd;
}

.gallery {
  grid-area: gl;
}

.main-area {
  grid-area: main;
  width: 50%;
  margin: auto;
}

.footer {
  grid-area: ft;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.4em;
  font-weight: 600;
}

.desc {
  white-space: pre-wrap;
  overflow-y: auto;
  max-height: inherit;
}

.btn-desc-toggler {
  text-decoration: underline;
  margin: 0.75em 0;
}
