@use '../../styles/variables.scss' as var;
@use '../../styles/functions.scss' as func;


.btn {
    padding: 0.5em 1em;
    border: 1px solid var.$black;
    border-radius: 4px;
}

.btn:hover {
    box-shadow: 0 0 0 1px var.$black;
}

@each $name, $color in var.$variants {
    .#{$name} {
        background: $color;
        color: func.set-text-color($color);
        border: none;

        &:hover {
            background: darken($color, 10%);
        }
    }
}

.xs {
    font-size: 0.875em;
}

.sm {
    font-size: 0.925em;
}

.lg {
    font-size: 1.1em;
    font-weight: 600;
}

.xl {
    font-size: 1.2em;
    font-weight: 600;
}

.rounded {
    border-radius: 1.5em;
}
  
.fullwidth {
    width: 100%;
}