.field {
    position: relative;
    height: 4rem;
    border: 1px solid black;
    margin: 1.4rem 0;
}

.label {
    position: absolute;
    top: 30%;
    left: 1rem;
    font-size: .925em;
    pointer-events: none;
    background: #fff;
    padding: 0 .25rem;
}

.label-focus {
    top: -15%;
    font-size: .82em;
}

.input {
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 0;
    border: none;
}
