$border-color: hsla(0, 0%, 4%, 0.5);

.form {
  width: 20rem;
}

.title {
  font-size: 1.4rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  margin: 1rem 0;
  text-align: center;
}


