.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-start,
  .nav-end {
    display: flex;
    align-items: center;
  }

  .nav-start .nav-item {
    padding-right: 2rem;
    cursor: pointer;
  }

  .nav-end .nav-item {
    padding-left: 2rem;
    cursor: pointer;
  }

  .nav-link {
    display: inline-flex;
    text-decoration: none;

    .caption {
      font-size: 0.875em;
      margin-left: 0.35em;
    }
  }
}
