.image-detail {
    position: relative;
    width: 100%;
}

.image-wrapper {

}

.magnifier-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    padding: 1rem;
    background: #fff;
    box-shadow: 0 0 12px hsla(0, 0%, 0%, .3);
}