$radius: 0;
$border-color: hsla(0, 0%, 4%, 0.5);
$font-size: 0.875em;
$input-padding: 1rem;

.field {
  width: 100%;
  position: relative;

  .input {
    padding: $input-padding;
    border: 1px solid $border-color;
    width: 100%;
    border-radius: $radius;
  }
}

.label {
  position: absolute;
  top: calc(25% + 0.25rem);
  left: 0.75rem;
  font-size: $font-size;
  pointer-events: none;
}

.label__on-focus {
  position: absolute;
  top: -0.75rem;
  left: 0.75rem;
  background: white;
  padding: 0.25rem;
  font-size: $font-size;
}

.visibility-toggler {
  font-size: $font-size;
  text-decoration: underline;
  position: absolute;
  right: 0.5rem;
  top: calc(25% + 0.25rem);
  cursor: pointer;
}
