/* Flex */

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.flex-y-center {
  align-items: center;
}

.flex-x-center {
  justify-content: center;
}

/* Typography */
.open-sans {
  font-family: "Open Sans", sans-serif;
}

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
}

.font-thin {
  font-weight: 200;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

/* Images */
.object-contain {
  object-fit: contain;
}

.object-scale-down {
  object-fit: scale-down;
}

.object-cover {
  object-fit: cover;
}

.object-none {
  object-fit: none;
}

.object-fill {
  object-fit: fill;
}